<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker | Expenses</title>
</head>
<body>
<h5>expenses</h5>
<table>
    <thead>
    <tr>
        <th>Item</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${expenses}">
        <td th:text="${expense.item}"></td>
        <td class="amount" th:text="${expense.amount}"></td>
        <td th:text="${expense.expensedate}"></td>
        <td th:text="${expense.notes}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>